:root {
  --background-main: #0D1117;
  --background-secondary: #f8ecec; /* dark gray */  
  --text: #E6EDF3;
  --accent: linear-gradient(270deg, #7b2ff7, #e100ff);
 /* purple */
}

section {
  margin: 0 !important;
  padding: 0 !important;
}

big-header{
  font-size: 60px;
}

.sticky-sidebar {
  min-height: 100vh !important; 
  position: sticky;
  top: 0;
  padding-top: 1rem;
  border-right: 1px solid #ddd;
}
.purple {
  background: var(--accent);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 8s ease infinite;
  font-weight: bold;
}
  
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.base-background{
  background: var(--background-main);

}
.dull-background{
    background-color: var(--background-secondary);
}

.social-icons .social-icon {
  font-size: 1.5rem;
  color: #fff;
  background-color: #383f4e;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  text-decoration: none;
}

.social-icons .social-icon:hover {
  background: var(--accent);
  color: #000;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.highlight{
  background: var(--accent);
  color: white;
  border: black;
}
.highlight:hover,
.highlight:focus,
.highlight.active {
  border: 2px solid purple;
  transition: border 0.3s ease;
  background-color: purple;
}

.full-button,
.full-button:hover{
  background-color: var(--background-secondary);
  color: #000000;
}
.full-button:hover{
  border: 2px solid;
  transition: border 0.3s ease;
}
